:root {
  /* basic */
  --color-gray-000: #ffffff;
  --color-gray-050: #f7f7fa;
  --color-gray-100: #f0f0f5;
  --color-gray-200: #e8e8ee;
  --color-gray-300: #cdced6;
  --color-gray-400: #8c8f9f;
  --color-gray-500: #6c6e7e;
  --color-gray-600: #525463;
  --color-gray-700: #3e404c;
  --color-gray-800: #2b2d36;
  --color-gray-900: #111111;

  --color-black: #111111;
  --color-white: #ffffff;

  --color-primary-orange: #eea14e;
  --color-primary-yellow: #ffd960;
  --color-primary-cyan: #8fc9bd;
  --primary: #eea14e;

  --vapor-color-background-rgb-primary: var(--color-primary-yellow);
  --vapor-color-foreground-primary-darker: #e6ba2f;

  /* background */

  /* vapor basic */
  --vapor-color-gray-000: #ffffff;
  --vapor-color-gray-050: #f7f7fa;
  --vapor-color-gray-100: #f0f0f5;
  --vapor-color-gray-200: #e8e8ee;
  --vapor-color-gray-300: #cdced6;
  --vapor-color-gray-400: #8c8f9f;
  --vapor-color-gray-500: #6c6e7e;
  --vapor-color-gray-600: #525463;
  --vapor-color-gray-700: #3e404c;
  --vapor-color-gray-800: #2b2d36;
  --vapor-color-gray-900: #111111;

	--vapor-color-black: #111111;

	/* vapor background */
	--vapor-color-background-primary: var(--color-primary-yellow);

	/* vapor foreground */
	/* bottom nav primary color */
	--vapor-color-foreground-primary: var(--color-primary-orange);

	/* bottom nav default gray color */
	--vapor-color-normal-lighter: var(--vapor-color-gray-400);

}
